pre {
  display: inline;
}

code > pre {
  display: block;
}

code {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px auto;
  width: max(80em, 70%);
}