pre { display: inline}

pre:has(code) {
  display: block;
}

.example {
  border-left: 5px solid forestgreen;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(61, 61, 61);
  padding-top: 30px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 1200px) {
  .example {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
}

.example > h3 {
  margin-bottom: 10px;
}
