* {
  box-sizing: border-box;
}

pre {
  display: inline;
}

pre:has(code) {
  display: block;
}

.example {
  border-left: 5px solid forestgreen;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(61, 61, 61);
  padding-top: 30px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 1200px) {
  .example {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
}

.example > h3 {
  margin-bottom: 10px;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tabs > li {
  list-style-type: none;
}

.tabs > li > button {
  width: 100%;
  text-align: center;
  background-color: inherit;
  border: 5px solid var(--background-color);
  padding: 0.5rem;
  font-size: 1.5rem;
}

.active {
  border-bottom: 5px solid white !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fiddleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.fiddleContainer .output {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fiddleContainer .renderOutput {
  height: 100%;
  background-color: whitesmoke;
  color: black;
  max-width: 300px;
}

.fiddleContainer .renderOutput * {
  padding: 0;
  margin: 0;
}

/* Class for small margins */
.sm {
  margin: 0.25rem 0;
}

/* Diesen Hack brauchen wir, damit der Monaco-Editor in RevealJS richtig
angezeigt wird. */
.monaco-editor {
  height: 300px !important;
}

/* Dieser Hack verschiebt den Monaco-Editor an die richtige Stelle in RevealJS
und ermöglicht das Bearbeiten während der Präsentation. */
.fiddleContainer section {
  top: 0 !important;
  pointer-events: auto !important;
}
